<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>
<div class="jumbotron">
  <div class="row pb-5">
    <div class="col-6">
      <app-worker-item [worker]="worker1"></app-worker-item>
    </div>
    <div class="col-6">
      <app-worker-item [worker]="worker2"></app-worker-item>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <line-chart-demo [lineChartLabels]="mainChart.lineChartLabels" [lineChartData]="mainChart.lineChartData"></line-chart-demo>
              <line-chart-demo [lineChartLabels]="temperatureChart.lineChartLabels" [lineChartData]="temperatureChart.lineChartData"></line-chart-demo>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
