<div class="card">
  <div class="camera">
    <div class="row">
      <div class="col-6">
        <img src="{{worker.video}}" class="img-fluid" alt="Camera Image">
        <!-- <app-video-holder [idx]="worker.idx" [url]="worker.video"></app-video-holder> -->
      </div>
      <div class="col-6">
        <ngb-tabset>
          <ngb-tab title="Happiness radar">
            <ng-template ngbTabContent>
              <app-radar-chart-demo></app-radar-chart-demo>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Emotion graph">
            <ng-template ngbTabContent>
              <line-chart-demo></line-chart-demo>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{{worker.name}}</h5>
      </div>
      <div class="col">
        <p class="card-text">Arrival at {{worker.arrivalTime}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="card-text">Distraction time average {{worker.distractionTime}} minutes today</p>
      </div>
      <div class="col">
        <p class="card-text">As leave and empty chair {{worker.emptyChairTime}} minutes today </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/svg/{{worker.state}}.svg" width="30" height="30" alt="">
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="punish()" type="submit">
          Punish !</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="reward()" type="submit">
          Reward</button>
      </div>
    </div>
  </div>
</div>
