<div class="card">
  <div class="camera">
    <video id="box0" class="transit boxCommon thumbCommon easyrtcMirror  mx-auto" muted="muted" volume="0"></video>
    <canvas id="canvas">
    </canvas>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">Leanne Graham</h5>
      </div>
      <div class="col">
        <p class="card-text">Arrival at 09:00 </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="card-text">Distraction time average 00:15</p>
      </div>
      <div class="col">
        <p class="card-text">As leave and empty chair time : 00:30</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/svg/depression.svg" width="30" height="30" alt="">
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <a onclick="takepicture()" class="btn btn-primary">Punish !</a>
      </div>
      <div class="col">
        <a href="#" class="btn btn-primary">Reward</a>
      </div>
    </div>
  </div>
</div>
