<div class="card">
  <div class="camera">
    <video id="box0" class="transit boxCommon thumbCommon easyrtcMirror  mx-auto" muted="muted" volume="0"></video>
    <canvas id="canvas">
    </canvas>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{{worker.name}}</h5>
      </div>
      <div class="col">
        <p class="card-text">Arrival at {{worker.arrivalTime}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="card-text">Distraction time average {{worker.distractionTime}} today</p>
      </div>
      <div class="col">
        <p class="card-text">As leave and empty chair {{worker.emptyChairTime}} </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img src="images/svg/{{worker.state}}.svg" width="30" height="30" alt="">
      </div>
      <div class="col">

      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="punish()" type="submit">
          Punish !</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (click)="reward()" type="submit">
          Reward</button>
      </div>
    </div>
  </div>
</div>
